body {
    margin:0
    font-family: system-ui;
    background-image: url ("../file:///Users/lucia/Desktop/Zeichenfläche%201.jpg")
}

background-image: url ("../file:///Users/lucia/Desktop/Zeichenfläche%201.jpg")